JEWBOT_DATA_DIR = ""  # (optional) path to persistent data directory
JEWBOT_LOG_LEVEL = "INFO"
JEWBOT_BACKEND = "Slack"
JEWBOT_SLACK_TOKEN = "xoxb-4426949411-aEM7..."  # the bot api token (starts with xoxb-)
JEWBOT_SLACK_ADMINS = "yehudit,yehuda,gentilon"  # comma-separated list of slack user names which can admin the bot
JEWBOT_DBS_BACK_DIR = "/path/to/dbs-back"
JEWBOT_DBS_BACK_ENV = "{}/env".format(JEWBOT_DBS_BACK_DIR)
